body
{
    background-color: lightblue;
}

img
{
    width: 25%;
    height: 10%;
    margin-left: 37%;
}

p
{
    text-align: center;
}

#gate
{
    width : 50%;
    height: 20%;
    margin-left: 25%;
}
