.container
{
    width : 50%;
}

table
{ 
    background-color: lightcyan; 
    width: 300px;
    height:  250px;
    border : 1px solid black;
    border-collapse: collapse;
}

td
{
    border : 2px solid black;
}